@page
@using MidwestSpeedfest.Utils.Cards
@model MidwestSpeedfest.Pages.Staff.StaffIndexModel
@{
    ViewData["Title"] = "Staff";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="staff-index-header text-left text-capitalize">CHOOSE YOUR STAFF MEMBER!</div>
<div class="row opacity-50-dark pb-3">
    @foreach (var staff in Model.StaffDictionary)
    {
        var staffMember = staff.Value;
        var imgUrl = $"/Content/StaffBios/Logos/{@staffMember.LogoUrl}";
        //var headingClass = staffMember.DisplayName.Length > 10 ? "staff-shrinky-text" : "h3";
        var headingClass = "staff-shrinky-text";
        //var headingSize = "h3";

        <div class="card text-center select-staff-card bg-dark ml-auto mr-auto mt-3">
            <div class="card-img-top img-fluid">
                <a asp-page="/Staff/StaffDetails" asp-route-Name="@staff.Key">
                    <img class="select-staff-image rounded-circle" src=@imgUrl alt="@staffMember.DisplayName details page">
                </a>
            </div>
            <div class="card-body">
                <footer class="card-footer staff-select-footer px-0">
                    <a class="text-center @headingClass" asp-page="/Staff/StaffDetails" asp-route-Name="@staff.Key">@staffMember.DisplayName</a>
                </footer>
            </div>
        </div>
    }

    @*@foreach (var staff in Model.StaffDictionary)
    {
        var staffMember = staff.Value;
        var imgUrl = $"/Content/StaffBios/Logos/{@staffMember.LogoUrl}";
        //var headingSize = staffMember.DisplayName.Length > 10 ? "h4" : "h3";
        var headingSize = "h3";

        <div class="card text-center select-staff-card bg-dark col-4 mt-3">
            <div class="card-img-top img-fluid">
                <a asp-page="/Staff/StaffDetails" asp-route-Name="@staff.Key">
                    <img class="select-staff-image rounded-circle" src=@imgUrl alt="@staffMember.DisplayName details page">
                </a>
            </div>
            <div class="card-body">
                <footer class="card-footer staff-select-footer px-0">
                    <a class="text-center @headingSize" asp-page="/Staff/StaffDetails" asp-route-Name="@staff.Key">@staffMember.DisplayName</a>
                </footer>
            </div>
        </div>
    }*@
</div>

