@page "/Admin/UserManager"

@using Microsoft.AspNetCore.Identity
@using MWSFBlazorFrontEnd.Models.Users
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Hosting
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Hosting
@using Microsoft.IdentityModel.Tokens
@using MWSFBlazorFrontEnd.Components.Dialogs
@using MWSFBlazorFrontEnd.Data
@using Serilog
@using DialogOptions = MudBlazor.DialogOptions
@using DialogService = MudBlazor.DialogService
@inject IDialogService _dialogService
@inject UserManager<IdentityUser> _userManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ISnackbar _snackbar
@inject IWebHostEnvironment _hostEnvironment
@attribute [Authorize(Roles = RoleConstants.AdminLevelRoles)]

<h1>User Manager</h1>

@if (_hostEnvironment.IsDevelopment() || _hostEnvironment.IsStaging())
{
    <span>For testing use only:</span>
    <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="mb-2" OnClick="@((e) => Create())"><MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary" />New Account</MudButton>
}
<MudTable Items="_userModelList" Loading="@(_userModelList == null)" LoadingProgressColor="Color.Info">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Users</MudText>
        <MudSpacer />
        <MudButton Color="Color.Info" Variant="Variant.Filled" OnClick="SaveRolesForAllChangedUsers">Save Changes</MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Username</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Roles</MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="UserName">@context.User.UserName</MudTd>
        <MudTd DataLabel="Email">@context.User.Email</MudTd>
        <MudTd DataLabel="Roles">
            <MudChipSet MultiSelection="true" @bind-SelectedChips="@context.SelectedRoleChips" Filter="true">
                @foreach (var roleName in RoleConstants.RoleNamesList)
                {
                    <MudChip Color="@RoleConstants.RoleColors[roleName]"
                             Default="@context.SelectedRoles.Contains(roleName)"
                             Text="@roleName"
                             Variant="Variant.Text"
                             Disabled="@(ShouldDisableRoleChipBasedOnPermission(roleName))"
                             OnClick="@(() => context.Changed = true)">
                    </MudChip>
                }
            </MudChipSet>
        </MudTd>

    </RowTemplate>
</MudTable>


@code {
    private string _message = "Nothing selected yet.. ";
    private List<UserDisplayModel> _userModelList = new();

    protected override async Task OnParametersSetAsync()
    {
        _userModelList = new List<UserDisplayModel>();
        await SetUpUserModels();
    }

    private async Task SetUpUserModels()
    {
        var users = await _userManager.Users.ToListAsync();

        foreach (var user in users)
        {
            var userToAdd = await UserDisplayModel.CreateAsync(_userManager, user);
            _userModelList.Add(userToAdd);
        }
    }

    private void HandleSelectedRole(string selected)
    {
        _message = "Selected role is " + selected;
    }

    private void HandleShowAll()
    {
        _message = "Show all roles";
    }

    private void AddRole(IdentityUser user, string roleName)
    {
        _message = $"Made {user.UserName} {roleName}";
    }

    private async Task Create()
    {
        var dialogOptions = new DialogOptions { FullWidth = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = _dialogService.Show<CreateUserDialog>("Create Account", dialogOptions);

        await dialog.Result;
    }

    private async Task SaveRolesForAllChangedUsers()
    {
        List<string> errorMessages = new();
        var changedUsers = _userModelList.Where(x => x.Changed).ToList();

        if (changedUsers.Count == 0)
        {
            _snackbar.Add("No users to save", Severity.Warning);
        }

        foreach (var changedUser in changedUsers)
        {
            try
            {
                await changedUser.SaveRolesAsync();
            }
            catch (Exception e)
            {
                var errorMessage = $"Unable to save roles for user {changedUser.User.UserName}";
                Log.Error(errorMessage, e.Message);
                errorMessages.Add(errorMessage);
            }
        }

        if (errorMessages.Count > 0)
        {
            foreach (var errorMessage in errorMessages)
            {
                _snackbar.Add(errorMessage, Severity.Error);
                await Task.Delay(500);
            }
            return;
        }

        if (errorMessages.Count == 0)
        {
            _snackbar.Add($"{changedUsers.Count()} users saved successfully", Severity.Success);
        }

    }

    private void SaveRolesForSingleUser(UserDisplayModel user)
    {
        //try
        //{
        //    user.SaveRoles();
        //    _snackbar.Add($"{user.User.UserName} updated successfully", Severity.Success);
        //}
        //catch(Exception e)
        //{
        //    var errorMessage = $"Unable to save roles for user {user.User.UserName}";
        //    Log.Error(errorMessage, e.Message);
        //    _snackbar.Add(errorMessage, Severity.Error);
        //}

    }

    private void ReloadTable()
    {

    }

    //TODO: Extract this logic out of UserManger.razor. Make it reusable
    private bool ShouldDisableRoleChipBasedOnPermission(string roleName)
    {
        var state = Task.Run(() => _authenticationStateProvider.GetAuthenticationStateAsync().GetAwaiter().GetResult()).Result;
        var userIsAdmin = state.User.IsInRole(RoleConstants.RoleNames.Admin);

        return roleName == RoleConstants.RoleNames.Admin ||
               (roleName == RoleConstants.RoleNames.Staff && !userIsAdmin);
    }

}
