<div class="opacity-10-dark mt-3">
    <MudNavMenu Class="mud-width-full">
        <AuthorizeView Roles=@RoleConstants.AdminLevelRoles>
            <MudNavGroup Title="Administration" Icon="@Icons.Filled.AdminPanelSettings">
                <MudNavGroup Title="Site Admin" Icon="@Icons.Filled.Settings">
                    <MudNavLink Href="/admin/edithomepage" Icon="@Icons.Filled.Home">Edit Homepage</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="User Admin" Icon="@Icons.Filled.People">
                    <MudNavLink Href="admin/usermanager" Icon="@Icons.Filled.ManageAccounts">User Manager</MudNavLink>
                </MudNavGroup>
            </MudNavGroup>
        </AuthorizeView>
        <MudDivider />
        <MudNavLink Href="https://www.speedrun.com/midwest_speedfest" Icon="@Icons.Filled.EmojiPeople">Staff</MudNavLink>
        <MudNavLink Href="/ContactUs" Icon="@Icons.Filled.Mail">Contact Us</MudNavLink>
        <MudNavLink Href="/PrivacyPolicy" Icon="@Icons.Filled.PrivacyTip">Privacy Policy</MudNavLink>
    </MudNavMenu>
</div>
