<MudAppBar Elevation="1">
    <MudIconButton Icon="@(_drawerOpen ? Icons.Material.Filled.MenuOpen : Icons.Material.Filled.Menu)" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    <MudSpacer />
    <a href="#">
        <MudText Typo="Typo.h5" Style="white-space: nowrap">Midwest Speedfest</MudText>
    </a>
    <MudSpacer />
    <MudHidden Breakpoint="@Breakpoint.Xs">
        <SocialMediaIcons />
    </MudHidden>
    <MudDivider Vertical="true" Class="mx-5" Style="height: 70%" />
    <LoginDisplay/>
    <MudHidden Breakpoint="@Breakpoint.Xs" Invert="true">
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Direction="Direction.Bottom" OffsetY="true" Color="Color.Inherit">
            <ChildContent>
                <SocialMediaIcons />
            </ChildContent>
        </MudMenu>
    </MudHidden>
</MudAppBar>


@code {

    [Parameter]
    public EventCallback<bool> OnDrawerToggle { get; set; }

    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        ReturnDrawerState();
    }

    private void ReturnDrawerState()
    {
        OnDrawerToggle.InvokeAsync(_drawerOpen);
    }

}