<MudAppBar Elevation="1">
    <MudIconButton Icon="@(_drawerOpen ? Icons.Material.Filled.MenuOpen : Icons.Material.Filled.Menu)" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    <MudSpacer />
    <MudLink Href="#">
        <MudText Typo="Typo.h5" Class="text-white">Midwest Speedfest</MudText>
    </MudLink>
    @*<a href="#" class="h5">
        <MudText Typo="Typo.h5">Midwest Speedfest</MudText>
    </a>*@
    <MudSpacer />
    <MudHidden Breakpoint="@Breakpoint.Xs">
        <span class="ml-auto">
            <SocialMediaIcons />
        </span>
        <AuthorizeView>
            <Authorized>
                <MudSpacer />
                <MudAvatar Style="@($"color:{Colors.Shades.White};")"> @context.User.Identity.Name.Substring(0, 1)</MudAvatar>
            </Authorized>
        </AuthorizeView>
    </MudHidden>
    <MudHidden Breakpoint ="@Breakpoint.Xs" Invert="true">
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Direction="Direction.Bottom" OffsetY="true" Color="Color.Inherit">
            <SocialMediaIcons />
            <MudMenuItem>Profile</MudMenuItem>
            <MudMenuItem>My account</MudMenuItem>
            <MudMenuItem>Logout</MudMenuItem>
        </MudMenu>
    </MudHidden>
</MudAppBar>


@code {

    [Parameter]
    public EventCallback<bool> OnDrawerToggle { get; set; }

    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        ReturnDrawerState();
    }

    private void ReturnDrawerState()
    {
        OnDrawerToggle.InvokeAsync(_drawerOpen);
    }

}